{% extends "index.html" %}

{% block title %}Cadastro de Colaborador{% endblock title %}

{% block content %}
<div class="container justify-content-center mt-5">
    <div class="card shadow-lg" style="max-width: 600px; margin: auto; border-radius: 15px;">
        <div class="card-header bg-dark text-white text-center py-4" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <h2>Cadastro de Colaborador</h2>
        </div>
        <div class="card-body p-4">
            <form action="/cadastroUsuario/" method="POST">
                {% csrf_token %}
                <div class="form-group my-4">
                    <label for="nome" class="font-weight-bold">Nome:</label>
                    <input class="form-control" type="text" name="nome" placeholder="Digite o nome" required>
                </div>
                <div class="form-group my-4">
                    <label for="idade" class="font-weight-bold">Idade:</label>
                    <input class="form-control" type="number" name="idade" placeholder="Digite a idade" required>
                </div>
                <div class="form-group my-4">
                    <label for="matricula" class="font-weight-bold">Matrícula:</label>
                    <input class="form-control" type="text" name="matricula" placeholder="Digite a matrícula" required>
                </div>
                <div class="text-center mt-4">
                    <input class="btn btn-primary btn-lg px-5 rounded-pill" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
