<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/cadastroEPI" style="font-size: 1.2em; font-weight: bold;">
                Cadastrar EPIs
            </a>
        </li>
        <h1>|</h1>
        <li class="nav-item">
            <a class="nav-link" href="/listaEpi" style="font-size: 1.2em; font-weight: bold;">
                Listar EPIs
            </a>
        </li>
        <h1>|</h1>
        <li class="nav-item">
            <a class="nav-link" href="/emprestimoEPI" style="font-size: 1.2em; font-weight: bold;">
                Emprestimos EPIs
            </a>
        </li>
        <h1>|</h1>
        <li class="nav-item">
            <a class="nav-link" href="/" style="font-size: 1.2em; font-weight: bold;">
                Inicio
            </a>
        </li>
        <h1>|</h1>
        <li class="nav-item">
            <a class="nav-link" href="/cadastroUsuario" style="font-size: 1.2em; font-weight: bold;">
                Cadastrar Colaboradores
            </a>
        </li>
        <h1>|</h1>
        <li class="nav-item">
            <a class="nav-link" href="/listaUsuarios" style="font-size: 1.2em; font-weight: bold;">
                Listar Colaboradores
            </a>
        </li>
    </ul>
</nav>
